---
import Processes from "../../components/Processes.astro";
import Layout from "../../layouts/Layout.astro";

---
<!-- tailwind landing page after form submission jumbotron with "We have recieved your message, well be in touch within 2 working days" -->
<Layout title="Trianglish">
  <main class="space-y-20">
    <section class="column items-center py-5 md:w-6/12 md:pb-20 md:pt-10 text-center mx-auto">
      <!-- image -->
      <img src="/Hero.svg" alt="Contact us" class="w-64 mx-auto" />
      <h1 class="text-4xl font-bold">Thank you!</h1>
      <p class="text-lg py-5">We have received your message, we'll be in touch within 2 working days</p>
      <!-- back to homepage CTA button -->
      <div class="flex justify-center">
        <a 
          href="/"
          class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7"
        >
          Back to homepage
        </a>
      </div>
    </section>

  </main>
</Layout>