---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import LatestArticles from "../components/LatestArticles.astro";
---

<Layout title="Trianglish - Blog">
  <main class="space-y-20">
    <Container>
      <LatestArticles />
    </Container>
  </main>
</Layout>
