---
import Container from "./Container.astro";
---

<Container>
  <div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/01.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/02.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/03.svg"
          class="h-9 w-auto m-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/04.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/05.svg"
          class="h-8 w-auto m-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
      <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
        <img
          src="./clients/06.svg"
          class="h-12 w-auto mx-auto"
          loading="lazy"
          alt="client logo"
          width=""
          height=""
        />
      </div>
    </div>
  </div>
</Container>
