---
interface Props {
  subtitle: string;
  description: string;
}

const { subtitle, description } = Astro.props;
---

<div
  id={subtitle.toLocaleLowerCase().replaceAll(" ", "-")}
  class="relative flex flex-col items-center lg:flex-row scroll-m-28"
>
  <div class="row items-center py-5 lg:pr-16 lg:py-10 lg:w-4/12">
    <div class="text-center lg:text-left space-y-3 bg-lime lg:w-8/12">
      <h2 class="text-4xl font-medium leading-none sm:text-6xl">{subtitle}</h2>
    </div>
  </div>
  <div class="flex items-center py-5 lg:w-8/12 lg:py-10">
    <p class="text-xl font-normal leading-7 text-center lg:text-left">
      {description}
    </p>
  </div>
</div>
