---
import Container from "./Container.astro";
import Subtitle from "./Subtitle.astro";
---

<Container>
  <Subtitle
    subtitle="Testimonials"
    description="What our clients say about us"
  />

  <div
    class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]"
  >
    <div
      class="justify-items-center relative w-full border border-lime rounded-3xl"
    >
      <div class="p-4 md:p-10">
        <p
          class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
        >
          "The team as Trianglish have proved to be a valuable partner for our
          business. They have been key in developing social proof for our brand
          and have helped us to significantly increase our online presence. The
          results speak for themselves."
        </p>
        <span class="text-lime text-base md:text-xl font-medium"
          >Gareth Walpole<br /></span
        ><span class="text-white text-lg font-normal"
          >Operations Director @ Sprue</span
        >
      </div>
    </div>
  </div>
</Container>
