---
import { getImage } from 'astro:assets'
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import faviconSvgSrc from '../../public/Logo.svg';

const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' })
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="The organic growth social media experts for your business." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={faviconSvg.src} />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="manifest" href="/manifest.json" />

    <meta name="generator" content={Astro.generator} />
    <title>Trianglish</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white font-SpaceGrotesk space-y-20 flex h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
